@model Web.ViewModel.NewsLetterVM.NewsLetterViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-4">
    <div class="card justify-content-center">
        <div class="card-body">
            <h5 class="card-title">Delete Address</h5>
            <h6 class="text-danger">Are you sure you want to delete the <span class="badge bg-danger">@Model.Name</span></h6>

            <div class="row ">
                <!-- 12 columns for textboxes -->

                <form asp-action="Delete" asp-controller="Newsletters">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="mb-3 col-12">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" disabled />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-12">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" disabled />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                   
                    <div class="mb-3 col-12">
                        <label asp-for="IsSubscribed" class="control-label"></label>
                        @Html.DisplayFor(model => model.IsSubscribed)
                    </div>
 
                    <div class="mb-3">
                        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |  <a asp-action="Index" class="btn btn-primary">Back to list</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


